# Code, "submodules".
current/
leveldb/
googletest/

# Outputs.
.current/
.current_debug/

# The DB.
testdb/

# For the clean run from scratch.
clean/

# Will be grabbed by the `Makefile`.
CMakeLists.txt
